<content-header short="true">
  <div class="content-header__body">
    <img ng-if="vm.product.img" class="service-details-heading__icon" ng-src="images/assets/{{ ::vm.product.img }}"/>
    <span class="content-header__title">{{ ::vm.service.product.name }}</span>
  </div>
  <div class="content-header__aside">
    <back-link></back-link>
  </div>
</content-header>

<service-basic-details service="vm.service"></service-basic-details>

<details-table heading="Provisioning Output">
  <div ng-if=" ::!vm.service.service_outputs.length" class="details-table__row">
    <div class="details-table__empty">Provisioning output not available for this service.</div>
  </div>
  <div ng-if="::vm.service.service_outputs.length" class="details-table__row"
       ng-repeat="output in ::vm.service.service_outputs">
    <div class="details-table__label"> {{ ::output.name }}</div>
    <div class="details-table__detail">{{ ::output.value }}</div>
  </div>
</details-table>

<region heading="Logs">
  <table st-table="vm.logs" class="tables">
    <thead>
    <tr>
      <th class="tables__heading">Time</th>
      <th class="tables__heading">Level</th>
      <th class="tables__heading">Message</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="log in vm.logs | orderBy : 'created_at'">
      <td class="tables__cell logs-list__time">{{ ::log.created_at | date : 'medium' }}</td>
      <td class="tables__cell logs-list__level">{{ ::log.log_level }}</td>
      <td class="tables__cell logs-list__message">{{ ::log.message }}</td>
    </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="15" st-displayed-pages="50"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</region>
