<content-header short="true">
  <div class="service-details-heading">
    <img ng-if="vm.product.img" class="service-details-heading__icon" ng-src="images/assets/{{ ::vm.product.img }}"
         fallback-image="images/no_image.png"/>
    <span class="content-header__title">{{ ::vm.service.product.name }}</span>
  </div>
  <div class="service-details-heading__aside">
    <a ui-sref="services.edit({serviceId: vm.service.id})" class="btn-rounded">Edit Service</a>
  </div>
</content-header>

<region title="Details">
  <div class="col-sm-12">
    <alert ng-if="::vm.service.latest_alert_id" type="{{ ::vm.toAlertType(vm.service.latest_alert.status) }}">
      <strong>{{ ::vm.service.latest_alert.status }}</strong>
      &mdash;
      {{ ::vm.service.latest_alert.message }}
    </alert>

    <div class="service-details__row">
      <div class="service-details__label">Project</div>
      <div class="service-details__detail">
        <project-description project="vm.service.project"></project-description>
      </div>
    </div>

    <div class="service-details__row">
      <div class="service-details__label">Product</div>
      <div class="service-details__detail">
        <product-description product="vm.service.product"></product-description>
      </div>
    </div>

    <div class="service-details__row">
      <div class="service-details__label">Service Status</div>
      <div class="service-details__detail">
        <status type="{{ ::vm.service.provision_status }}">
          <strong>{{ ::vm.service.provision_status.toUpperCase() }}</strong>
          &mdash;
          {{ ::vm.service.status_msg || 'No status message is available at this time.' }}
        </status>
      </div>
    </div>

    <div class="service-details__row">
      <div class="service-details__label">Creation Date</div>
      <div class="service-details__detail">{{ ::vm.service.created_at | date:'medium' }}</div>
    </div>

    <div class="service-details__row">
      <div class="service-details__label">Last Updated</div>
      <div class="service-details__detail">{{ ::vm.service.updated_at | date:'medium' }}</div>
    </div>
  </div>
</region>

<region title="Pricing">
  <table class="service-pricing">
    <thead>
    <tr>
      <th class="service-pricing__heading"></th>
      <th class="service-pricing__heading">Setup</th>
      <th class="service-pricing__heading">Hourly</th>
      <th class="service-pricing__heading">Monthly</th>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="selectRow">
      <td class="service-pricing__cell service-pricing__cell--padding"></td>
      <td class="service-pricing__cell service-pricing__cell">{{ ::vm.service.setup_price | currency }}</td>
      <td class="service-pricing__cell service-pricing__cell">{{ ::vm.service.monthly_price | currency }}</td>
      <td class="service-pricing__cell service-pricing__cell">{{ ::vm.service.hourly_price | currency }}</td>
    </tr>
    </tbody>
  </table>
</region>

