<content-header short="true">
  <div class="content-header__body">
    <img ng-if="vm.product.img" class="service-details-heading__icon" ng-src="images/assets/{{ ::vm.product.img }}"/>
    <span class="content-header__title">{{ ::vm.service.product.name }}</span>
  </div>
  <div class="content-header__aside">
    <back-link></back-link>
  </div>
</content-header>

<service-basic-details service="vm.service"></service-basic-details>

<details-table heading="Provisioning Output">
  <div ng-if=" ::!vm.service.service_outputs.length" class="details-table__row">
    <div class="details-table__empty">Provisioning output not available for this service.</div>
  </div>
  <div ng-if="::vm.service.service_outputs.length" class="details-table__row"
       ng-repeat="output in ::vm.service.service_outputs">
    <div class="details-table__label"> {{ ::output.name }}</div>
    <div class="details-table__detail">{{ ::output.value }}</div>
  </div>
</details-table>

<!-- <region heading="Logs">
  <table class="product-pricing">
    <thead>
    <tr>
      <th class="product-pricing__heading"></th>
      <th class="product-pricing__heading">Setup</th>
      <th class="product-pricing__heading">Hourly</th>
      <th class="product-pricing__heading">Monthly</th>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="selectRow">
      <td class="product-pricing__cell product-pricing__cell--padding"></td>
      <td class="product-pricing__cell product-pricing__cell">{{ ::vm.product.setup_price | currency }}</td>
      <td class="product-pricing__cell product-pricing__cell">{{ ::vm.product.hourly_price | currency }}</td>
      <td class="product-pricing__cell product-pricing__cell">{{ ::vm.product.monthly_price | currency }}</td>
    </tr>
    </tbody>
  </table>
</region> -->

<!--Project Answers-->
<region heading="Logs">
  <table st-table="vm.logs" class="tables">
    <thead>
    <tr>
      <th class="tables__heading project-details__question">Time</th>
      <th class="tables__heading">Message</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="log in vm.logs track by $index">
      <td class="tables__cell">{{ ::log.created_at }}</td>
      <td class="tables__cell">{{ ::log.message }}</td>
    </tr>
    </tbody>
  </table>
</region>