<div class="marketplace-page">
  <section-header ng-repeat="category in marketplaceCtrl.categories"
                  name="{{category.name}}"
                  description="{{category.description}}"
                  allow-view-type-toggle="true"
                  ng-show=" category.products.length > 0"
    />
    <product-box class="product-box" ng-repeat="product in category.products" product="product">
      <a type="button" class="btn btn-primary" ui-sref="base.authed.marketplace.show({id: product.id})">View More</a>
    </product-box>
  </section-header>
</div>
