<form class="form-horizontal" role="form" name="projectQuestionForm">
  <input-wrap for="question" label="Question">
    <input class="form-control" id="question" name="question"
      ng-model='projectQuestion.question' placeholder="Enter question here" required>
  </input-wrap>

  <input-wrap for="helpText" label="Help Text">
    <input class="form-control" id="helpText" name="helpText"
      ng-model='projectQuestion.help_text' placeholder="Enter help text" required>
  </input-wrap>

  <input-wrap for="loadOrder" label="Load Order">
    <input type="number" class="form-control" id="loadOrder" name="loadOrder"
      ng-model='projectQuestion.load_order' placeholder="Enter order number" required>
  </input-wrap>

  <input-wrap for="required" label="Required">
    <input class="form-control" type="checkbox" ng-model='projectQuestion.required'>
  </input-wrap>

  <input-wrap for="fieldType" label="Field Type">
    <select name="fieldType" class="form-control" ng-model='projectQuestion.field_type' required>
      <option value="select_option">Select Option</option>
      <option value="text">Text</option>
      <option value="check_box">Check Box</option>
      <option value="date">Date</option>
    </select>
  </input-wrap>

  <input-wrap label="Option {{$index + 1}}" ng-repeat="option in projectQuestion.options track by $index">
    <input ng-model='projectQuestion.options[$index]' class="form-control" placeholder="Enter option">
    <a type="button" ng-click="removeOption($index)"><i class="fa fa-lg fa-times"></i></a>
  </input-wrap>

  <br />

  <a type="button" class="btn btn-default btn-option" ng-click="addOption()">+ Add Option</a>

  <br />

  <a type="submit" ng-click="submitFunction()"
    ng-class="projectQuestionForm.$invalid ? 'btn btn-primary disabled' : 'btn btn-primary'">
    {{buttonLabel}}
  </a>
  <a ui-sref="base.authed.admin.projects.project_questions" class="btn btn-link">CANCEL</a>
</form>
