<div class="form-group" ng-class="{'has-error': adminRoleFormCtrl.hasError('name')}">
  <label class="col-sm-2 control-label" for="name">Role Name:</label>

  <div class="col-sm-6 controls">
    <input id="name" name="name" type="text" ng-model="adminGroupFormCtrl.role.name" ng-change="adminGroupFormCtrl.clearSubmitError('name')" class="form-control" required/>

    <div class="help-block">
      <div class="help-text" ng-show="adminGroupFormCtrl.hasError('name', 'required')">Role Name is Required.</div>
      <div class="help-text" ng-show="adminGroupFormCtrl.hasError('name', 'submitError')">{{adminRoleFormCtrl.getSubmitErrorValue('name')}}</div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>

<div class="form-group" ng-class="{'has-error': admiRoleFormCtrl.hasError('description')}">
    <label class="col-sm-2 control-label" for="description">Role Description:</label>

    <div class="col-sm-6 controls">
    <textarea id="description" name="description" type="text" ng-model="adminRoleFormCtrl.role.description" ng-change="adminRoleFormCtrl.clearSubmitError('description')" class="form-control"></textarea>

        <div class="help-block">
            <div class="help-text" ng-show="adminRoleFormCtrl.hasError('description', 'required')">Role Description is Required</div>
            <div class="help-text" ng-show="adminRoleFormCtrl.hasError('description', 'submitError')">{{adminRoleFormCtrl.getSubmitErrorValue('description')}}</div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>

<div class="form-group">
    <div class="search-input">
      <label class="col-sm-2 control-label" for="role_users">Users:</label>

      <div class="col-sm-6">
        <ui-select multiple id="users" name="staff_ids" ng-model="adminRoleFormCtrl.role.staff_ids" theme="bootstrap" close-on-select="true" sortable="true" class="col-sm-6 controls" required>
          <ui-select-match placeholder="Select users...">
            {{$item.fullName()}} &lt;{{$item.email}}&gt;
          </ui-select-match>
          <ui-select-choices repeat="user.id as user in adminRoleFormCtrl.users | propsFilter: {first_name: $select.search, last_name: $select.search, email: $select.search}">
            <span ng-bind-html="user.fullName() | highlight: $select.search"></span>
            &lt;<span ng-bind-html="user.email | highlight: $select.search"></span>&gt;
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-sm-4"></div>
    </div>
</div>
