<div class="form-group" ng-class="{'has-error': adminRoleFormCtrl.hasError('name')}">
  <label class="col-sm-2 control-label" for="name">Role Name:</label>

  <div class="col-sm-6 controls">
    <input id="name" name="name" type="text" ng-model="adminGroupFormCtrl.role.name" ng-change="adminGroupFormCtrl.clearSubmitError('name')" class="form-control" required/>

    <div class="help-block">
      <div class="help-text" ng-show="adminGroupFormCtrl.hasError('name', 'required')">Role Name is Required.</div>
      <div class="help-text" ng-show="adminGroupFormCtrl.hasError('name', 'submitError')">{{adminRoleFormCtrl.getSubmitErrorValue('name')}}</div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>

<div class="form-group" ng-class="{'has-error': adminRoleFormCtrl.hasError('description')}">
    <label class="col-sm-2 control-label" for="description">Role Description:</label>

    <div class="col-sm-6 controls">
    <textarea id="description" name="description" type="text" ng-model="adminRoleFormCtrl.role.description" ng-change="adminRoleFormCtrl.clearSubmitError('description')" class="form-control"></textarea>

        <div class="help-block">
            <div class="help-text" ng-show="adminRoleFormCtrl.hasError('description', 'required')">Role Description is Required</div>
            <div class="help-text" ng-show="adminRoleFormCtrl.hasError('description', 'submitError')">{{adminRoleFormCtrl.getSubmitErrorValue('description')}}</div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>

<div class="form-group">
   <label class="col-sm-2 controls control-label" for="projects">Projects:</label>
   <input class="checkbox-margin" type="checkbox" name="vehicle" value="read"> Read
   <input class="checkbox-margin" type="checkbox" name="vehicle" value="write"> Write
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="approval">Approve:</label>
    <input class="checkbox-margin" type="checkbox" name="vehicle" value="read"> Read
    <input class="checkbox-margin" type="checkbox" name="vehicle" value="write"> Write
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="membership">Membership:</label>
    <input class="checkbox-margin" type="checkbox" name="vehicle" value="read"> Read
    <input class="checkbox-margin" type="checkbox" name="vehicle" value="write"> Write
</div>
