<div class="roles-list-page">

  <section-header name="Roles">
    <roles-box class="product-box" ng-repeat="role in listRolesCtrl.roles" group="role">
      <a type="button" class="btn btn-primary" ui-sref="base.authed.admin.roles.edit({id: role.id})">Edit</a>
    </roles-box>

    <div class="add-box">
      <div class="product-box-shadow">
        <a ui-sref="base.authed.admin.roles.add">
          <div class="fa-stack">
            <i class="fa fa-fw fa-stack-2x fa-circle-thin"></i>
            <i class="fa fa-fw fa-stack-1x fa-plus"></i>
          </div>
          <div class="title">Add New Role</div>
        </a>
      </div>
    </div>
  </section-header>
</div>
