language: ruby

rvm: 2.2.1

sudo: false

addons:
  postgresql: "9.4"
  code_climate:
      repo_token:
        secure: "rfbxXdcTWq7x9QZYZyOw/l1LMhRbVlgxOlUy2DOLoKTa/Kb6sWbZP87h2GPdTqPK0nyLwfe+X9rOm0q4NHwmKlON9uMR/zw3PeZxiMCwE89db5Q7jnqUzbfaYa9qpKH5gofoRMEfwJhpNkznvhCKoT++F4MLZZd9v8snBKuZQTw="

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
before_script:
  - bundle exec rake db:create

notifications:
  slack:
    secure: "htdM8Tv7Z2FLsRhwOhjpL7r2O5YJOVvt838SRcI2tLFWDGtdWD/lg5GlQ7swxOXaEYiPD8RjKMh27v9lb6fxKbi3Pdu8kwR7GmjAGwGB9h0JwnrESbiSGCCC+J6APvWdq5Vs7iGMFUS7oOjw8fzyyHeRRbyf0SWiT7S9EUt3dec="

script:
- bundle exec rspec
- bundle exec rubocop

deploy:
  provider: heroku
  api_key:
    secure: "ZDWFn6pTVtqg4DwXu0ge5wkFu8pVJV3c0px0KAXubOr8H0VNa4j1pOocS7JiCOAfsU1GVm1idyvCPS5Dyz5HqnZIqGYKS0TSiK4ezA10a1nb3MTPEiCtAyb6c/wxwPrtQ+7EvbI5oL7bWtXXhWXo7czNMG22+IhsQw3FPEnOxVQ="
  app: jellyfish-core-dev
  run: "rake db:schema:load spec db:seed sample:demo"
