<div class="modals__header">
  <button type="button" class="modals__close" ng-click="$dismiss()" aria-label="Close">
    <i class="fa fa-close" aria-hidden="true"></i>
    <span class="sr-only">Close</span>
  </button>
  <div class="modals__title">Configure Service</div>
</div>

<div class="modals__body">
  <h4>{{ ::vm.subHeading }}</h4>
  <form class="forms">
    <formly-form model="vm.selections" fields="vm.fields"></formly-form>
  </form>
</div>

<div class="modals__footer">
  <button type="button" class="modals__button modals__button--cancel" ng-click="$dismiss()">
    Cancel
  </button>
  <button type="button" class="modals__button" ng-click="$close(vm.selections)"
          ng-disabled="!vm.selections.name">
    Save
  </button>
</div>
