<div class="form-group" ng-class="{'has-error': productForm.hasError('productName')}">
    <label class="col-sm-2 control-label" for="productName">Name:</label>

    <div class="col-sm-6 control-input">
        <input id="productName" name="productName" type="text" ng-model="productForm.product.name" class="form-control"
               required/>

        <div class="help-block">
            <div class="help-text" ng-show="productForm.hasError('productName', 'required')">A name is required for all
                products
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="productDescription">Description:</label>

    <div class="col-sm-6 control-input">
    <textarea id="productDescription" name="productDescription" ng-model="productForm.product.description"
              class="form-control" rows="3"></textarea>

        <div class="help-block">
            <div class="help-text" ng-show=""></div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="form-group" ng-class="{'has-error': productForm.hasError('productType')}">
    <label class="col-sm-2 control-label">Product Type:</label>

    <div class="col-sm-6 control-input">
        <select id="productType" ng-options="type for type in productsAdminCtrl.categoryNames"
                name="productType"
                ng-click="productForm.buildForm(productsAdminCtrl.categoriesByName[productForm.product.product_type]
                .properties);"
                ng-model="productForm.product.product_type"
                class="form-control" required></select>

        <div class="col-sm-4"></div>
        <div class="help-block">
            <div class="help-text" ng-show=""></div>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': productForm.hasError('productImg')}">
    <label class="col-sm-2 control-label">Icon:</label>

    <div class="col-sm-6 control-input">
        <ui-select id="productImg" name="productImg" ng-model="productForm.product.img" theme="selectize" required>
            <ui-select-match>
                <img ng-src="/images/assets/{{productForm.product.img}}"/>
            </ui-select-match>
            <ui-select-choices repeat="image in productsAdminCtrl.productImages">
                <img ng-src="/images/assets/{{image}}"/>
            </ui-select-choices>
        </ui-select>

        <div class="help-block">
            <div class="help-text" ng-show="productForm.hasError('productImg', 'required')">An icon is required for all
                products
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="productActive">Active?:</label>

    <div class="col-sm-6 control-input">
        <input id="productActive" name="productActive" type="checkbox" ng-model="productForm.product.active"
               class="form-control"/>

        <div class="help-block">
            <div class="help-text" ng-show=""></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="help-block">
            <div class="help-text">Only active products are displayed in the marketplace.</div>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': productForm.hasError('productSetupPrice')}">
    <label class="col-sm-2 control-label" for="productSetupPrice">Setup Price:</label>

    <div class="col-sm-6 control-input">
        <input id="productSetupPrice" name="productSetupPrice" type="text" ng-pattern="/\d+\.\d{0,4}/"
               ng-model="productForm.product.setup_price" class="form-control" required/>

        <div class="help-block">
            <div class="help-text" ng-show="productForm.hasError('productSetupPrice', 'required')">A setup price
                is required for all products
            </div>
            <div class="help-text" ng-show="productForm.hasError('productSetupPrice', 'pattern')">Numeric values only.
                999999.9999
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="help-block">
            <div class="help-text">Values have precision to four decimal places</div>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': productForm.hasError('productMonthlyPrice')}">
    <label class="col-sm-2 control-label" for="productMonthlyPrice">Monthly Price:</label>

    <div class="col-sm-6 control-input">
        <input id="productMonthlyPrice" name="productMonthlyPrice" type="text" ng-pattern="/\d+\.\d{0,4}/"
               ng-model="productForm.product.monthly_price" class="form-control" required/>

        <div class="help-block">
            <div class="help-text" ng-show="productForm.hasError('productMonthlyPrice', 'required')">A monthly price
                is required for all products
            </div>
            <div class="help-text" ng-show="productForm.hasError('productMonthlyPrice', 'pattern')">Numeric values only.
                999999.9999
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="help-block">
            <div class="help-text">Values have precision to four decimal places</div>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': productForm.hasError('productHourlyPrice')}">
    <label class="col-sm-2 control-label" for="productHourlyPrice">Hourly Price:</label>

    <div class="col-sm-6 control-input">
        <input id="productHourlyPrice" name="productHourlyPrice" type="text" ng-pattern="/\d+\.\d{0,4}/"
               ng-model="productForm.product.hourly_price" class="form-control" required/>

        <div class="help-block">
            <div class="help-text" ng-show="productForm.hasError('productHourlyPrice', 'required')">An hourly price
                is required for all products
            </div>
            <div class="help-text" ng-show="productForm.hasError('productHourlyPrice', 'pattern')">Numeric values only.
                999999.9999
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="help-block">
            <div class="help-text">Values have precision to four decimal places</div>
        </div>
    </div>
</div>
<div sf-model="productForm.product.provisioning_answers"
     ng-form
     sf-schema="productsAdminCtrl.categoriesByName[productForm.product.product_type]"
     sf-form="productForm.form"></div>

{{productForm.form}}