<input-wrap for="productName" label="Name" errorPresent="productForm.hasError('productName')">
  <input
    class="form-control"
    id="productName"
    name="productName"
    ng-model="productForm.product.name"
    required="true"
    type="text"
  />
  <div class="help-block" ng-show="productForm.hasError('productName', 'required')">
    <span class="help-text">A name is required for all products</span>
  </div>
</input-wrap>

<input-wrap for="productDescription" label="Description" required=true>
  <textarea
    id="productDescription"
    name="productDescription"
    ng-model="productForm.product.description"
    class="form-control"
    rows="3"
  />
</input-wrap>

<input-wrap errorPresent="productForm.hasError('productType')" label="Product Type" for="productType">
  <select
    class="form-control"
    id="productType"
    name="productType"
    ng-model="productForm.product.product_type"
    ng-options="type for type in productsAdminCtrl.categoryNames"
    required
  ></select>
</input-wrap>

<input-wrap for="productImg" label="Icon" errorPresent="productForm.hasError('productImg')">
  <ui-select id="productImg" name="productImg" ng-model="productForm.product.img" theme="selectize" required>
    <ui-select-match>
      <img ng-src="/images/assets/{{productForm.product.img}}"/>
    </ui-select-match>
    <ui-select-choices repeat="image in productsAdminCtrl.productImages">
      <img ng-src="/images/assets/{{image}}" />
    </ui-select-choices>
  </ui-select>
  <div class="help-block" ng-show="productForm.hasError('productImg', 'required')">
    <span class="help-text">An icon is required for all products</span>
  </div>
</input-wrap>

<input-wrap for="productActive" label="Active?">
  <input id="productActive" name="productActive" type="checkbox" ng-model="productForm.product.active" class="form-control" />
  <div class="help-text">Only active products are displayed in the marketplace.</div>
</input-wrap>

<input-wrap for="{{price.id}}" label="{{price.name}}" ng-repeat="price in productForm.prices" errorPresent="productForm.hasError(price.id)">
  <input
    id="{{price.id}}"
    name="{{price.id}}"
    type="text"
    ng-pattern="/\d+[\.\d{0,4}]?/"
    ng-model="productForm.product[price.field]"
    class="form-control"
    placeholder="Values have precision to four decimal places"
    required
  />
  <div class="help-block">
    <div class="help-text" ng-show="productForm.hasError(price.id, 'required')">A {{price.name}} is required for all products</div>
    <div class="help-text" ng-show="productForm.hasError(price.id, 'pattern')">Numeric values only. 999999.9999</div>
  </div>
</input-wrap>

<section-header name="{{productForm.product.product_type}} Properties" type="subheader" ng-if="productsAdminCtrl.categoriesByName[productForm.product.product_type].properties">
  <div
    ng-form
    sf-form="productForm.schemaForm"
    sf-model="productForm.product.provisioning_answers"
    sf-options="{tv4Validation:false}"
    sf-schema="productsAdminCtrl.categoriesByName[productForm.product.product_type]"
  ></div>
</section-header>
