<div class="row">
    <div class="col-sm-6">
        <a ui-sref="base.authed.admin.products.list" class="btn btn-info btn-nav">
            <i class="fa fa-caret-left"></i>
            Back to Admin Products
        </a>
    </div>
</div>

<div class="create-product-page">
    <div class="content box-content">
  <section-header name="Create Product">
    <form name="productForm.form" class="form-horizontal product-form" role="form"
          ng-controller="ProductFormController as productForm"
          ng-init="productForm.initForm(createCtrl)"
          ng-submit="productForm.create()"
          novalidate>
      <div ng-include src="'/templates/partials/admin/products/_form.html'"></div>

      <div class="col-sm-6 form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="!productForm.canSubmit()">CREATE PRODUCT</button>
        <a ui-sref="base.authed.admin.products.list" class="btn btn-link">CANCEL</a>
      </div>
    </form>
  </section-header>
</div>
</div>

