<content-header short="true">
  <div class="content-header__body">
    <span class="content-header__title">Settings</span>
  </div>
  <div class="content-header__aside">
    <button class="btn-rounded" ng-click="vm.showModal()">Add a Provider</button>
  </div>
</content-header>
<table ng-if="vm.providers" class="tables" st-table="vm.providers">
  <thead>
  <tr>
    <th class="tables__heading tables__heading--sortable providers-table__name" st-sort="name">Name</th>
    <th class="tables__heading tables__heading--sortable providers-table__description">Description</th>
    <th class="tables__heading tables__heading--sortable providers-table__type">Type</th>
    <th class="tables__heading ">Active</th>
    <th class="tables__heading tables__heading--actions">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in vm.providers track by row.id">
    <td class="tables__cell">{{ ::row.name }}</td>
    <td class="tables__cell">{{ ::row.description }}</td>
    <td class="tables__cell">{{ ::row.provider.registered_provider.name }}</td>
    <td class="tables__cell tables__cell--actions">
      <img ng-click="vm.edit(row)" class="tables__action" src="/images/ic_edit.png" alt="Edit"/>
    </td>
  </tr>
  </tbody>
</table>
<div ng-if="!vm.providers" class="tables__empty">
  No providers have been created. <button class="btn-link" ng-click="vm.showModal()">Create one now.</button>
</div>
