<content-header short="true">
  <div class="content-header__body">
    <span class="content-header__title">Projects</span>
  </div>
  <div class="content-header__aside">
    <div>
      <button type="button" class="btn-rounded" ui-sref="projects.create">Add A Project</button>
    </div>
  </div>
</content-header>
<table st-table="vm.projects" class="tables tables--bordered">
  <thead>
  <tr>
    <th st-sort="name" st-sort-default="true" class="tables__heading tables__heading--sortable">Project</th>
    <th st-sort="approval"
        class="tables__heading tables__heading--centered tables__heading--sortable projects-list__approval">
      Approved
    </th>
    <th st-sort="health"
        class="tables__heading tables__heading--centered tables__heading--health tables__heading--sortable">
      Health
    </th>
    <th st-sort="budget" class="tables__heading tables__heading--sortable projects-list__budget">Budget</th>
    <th st-sort="spent" class="tables__heading tables__heading--sortable projects-list__spent">Spent</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in vm.projects track by row.id">
    <td class="tables__cell tables__cell--description">
      <project-description project="row" link-to="projects.details({projectId: {{row.id}}})"></project-description>
    </td>
    <td class="tables__cell tables__cell--centered">
      <img ng-if="::'approved' === row.status" src="/images/ic_required.png" alt="Approved"
           title="Project is approved"/>
      <img ng-if="::'rejected' === row.status" src="/images/ic_deletequestion.png" alt="Rejected"
           title="Project is rejected"/>
    </td>
    <td class="tables__cell tables__cell--centered">
      <status type="{{ ::row.health }}">{{ ::row.health }}</status>
    </td>
    <td class="tables__cell tables__cell--budget">{{ ::row.budget | currency }}</td>
    <td class="tables__cell tables__cell--spent">{{ ::row.spent | currency }}</td>
  </tr>
  </tbody>
</table>





