<!DOCTYPE html>
<html ng-app="broker">
  <head>
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Dashboard - Jellyfish</title>

    <%= stylesheet_link_tag 'application' %>
    <!--[if lt IE 9]>
    <link href="/css/ie.css" type="text/css" rel="stylesheet" media="screen"/>
    <![endif]-->

    <base href="/"/>
  </head>
  <body>
    <div ui-view></div>

    <script type="application/javascript">window.apiBasePath = "<%= root_url %>api/v1";</script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
