+block(status-banner)

  +element(title)
    text-align: center

  +element(title-approval)
    color: $app-color-blue

  +element(title-rejection)
    color: $app-color-pink

  +element(pending)
    background-color: lighten($app-color-orange, 20%)

  +element(rejected)
    background-color: $app-color-pink

  +element(button)

  +element(input)


+block(title-button)

  +element(aside)
    text-align: right
    right: 0
    margin: -7px 4px 0px 0px

+block(detail-heading)

  +element(aside)
    text-align: right
    height: 90px
    position: absolute
    right: 0
    top: 0

  +element(icon)
    display: inline-block
    width: 80px
    height: 80px
    position: static
    background-color: $app-color-white
    border: 2px solid $app-color-gray
    border-radius: 3px
    top: 10px
    left: 0
    margin-bottom: 4px

+block(summary)

  +element(accent-value)
    font-size: 26px
    font-weight: normal
    color: $app-color-blue
    text-transform: uppercase
    line-height: 1

  +element(icon-bin)
    margin: 20px 0px 40px 60px
    text-transform: uppercase
    font-size: 18px


  +element(accent-icon)
    $alert-radius: 70px
    height: $alert-radius
    width: $alert-radius
    line-height: $alert-radius
    text-align: center
    border-radius: 50%
    background-color: $app-color-blue
    position: absolute
    left: 0px
    bottom: 14px
    font-weight: bold
    font-size: 40px
    color: $app-color-white


+block(alerts-table)
  @extend .panel
  border: none
  border-radius: 0

  +element(filter-input)
    margin: 10px

  +element(header)
    @extend .panel-heading
    padding: 20px
    background-color: $app-color-white
    border: none

  +element(body)
    @extend .panel-body
    padding: 0

  +element(footer)
    @extend .panel-footer

  +element(title)
    font-size: 22px
    font-weight: normal
    color: $app-color-blue
    text-transform: uppercase
    line-height: 1

  +element(collapse-icon)
    @extend .pull-right

  +element(table)
    @extend .table-striped
    width: 100%

  +element(heading)
    height: 44px
    font-weight: bold
    text-transform: uppercase
    color: $app-color-gray

    +modifier(compare)
      text-align: center

    +modifier(sortable)
      color: $app-color-blue
      cursor: pointer

      &.st-sort-ascent::after
        font: normal normal normal 12px/1 FontAwesome
        content: "\f077"
        padding-left: 4px

      &.st-sort-descent::after
        font: normal normal normal 12px/1 FontAwesome
        content: "\f078"
        padding-left: 4px

  +element(cell)
    min-height: 44px
    border: none
    padding: 10px 10px 10px 0
    vertical-align: top
    position: relative

    +modifier(padding)
      width: 20px

    +modifier(actions)
      width: 196px

  +element(action)
    margin-right: 30px

    &:last-child
      margin-right: 0



