+block(status-banner)

  +element(title)
    text-align: center

  +element(title-approval)
    color: $app-color-blue

  +element(title-rejection)
    color: $app-color-pink

  +element(pending)
    background-color: lighten($app-color-orange, 20%)

  +element(rejected)
    background-color: $app-color-pink

  +element(button)

  +element(input)


+block(detail-heading)

  +element(aside)
    text-align: right
    height: 90px
    position: absolute
    right: 0
    top: 0

  +element(icon)
    display: inline-block
    width: 80px
    height: 80px
    position: static
    background-color: $app-color-white
    border: 2px solid $app-color-gray
    border-radius: 3px
    top: 10px
    left: 0
    margin-bottom: 4px

+block(summary)

  +element(accent-value)
    font-size: 26px
    font-weight: normal
    color: $app-color-blue
    text-transform: uppercase
    line-height: 1

  +element(icon-bin)
    margin: 20px 0px 40px 60px
    text-transform: uppercase


  +element(accent-icon)
    $alert-radius: 70px
    height: $alert-radius
    width: $alert-radius
    line-height: $alert-radius
    text-align: center
    border-radius: 50%
    background-color: $app-color-blue
    position: absolute
    left: 0px
    bottom: 14px
    font-weight: bold
    font-size: 40px
    color: $app-color-white

//+block(detail-body)
//  @extend .panel
//  border: none
//  border-radius: 0
//
//  +element(header)
//    @extend .panel-heading
//    padding: 20px
//    background-color: $app-color-white
//    border: none
//
//  +element(body)
//    @extend .panel-body
//    padding: 0
//
//
//
//
//
//+block(detail-body)
//  @extend .panel



