<div ng-if="vm.project.approval !== 'approved'">

  <div ng-show="vm.project.approval == 'undecided'">
    <widget modifier="danger" class="status-banner__pending">
      <div transclude-to="body">
        <h3 class="status-banner__title"><i class="fa fa-asterisk"></i>Project Pending, Requires <span
          class="status-banner__title-approval">Approval</span> or <span class="status-banner__title-rejection">Rejection</span>
          <i class="fa fa-asterisk"></i></h3>

        <div class="approval-banner__pending-banner__reject">
          <div class='row'>
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary pull-right" ng-click="vm.approve(vm.project)">APPROVE
              </button>
            </div>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="reason"
                     ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                     placeholder="Reason for rejection"/>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-danger pull-left" ng-click="vm.reject(vm.project,reason)"
                      ng-disabled="!reason">REJECT
              </button>
            </div>
          </div>
        </div>
      </div>
    </widget>
  </div>

  <div ng-show="vm.project.approval == 'rejected'" class="status-banner__rejected">
    <widget modifier="danger">
      <div transclude-to="body">
        <i class="fa fa-exclamation"></i>
        <h3>Project was rejected</h3>
        <i class="fa fa-exclamation"></i>
        <p><strong>{{vm.project.finalApproval().staff_name}}:</strong>
          {{vm.project.finalApproval().reason}}</p>
      </div>
    </widget>
  </div>
</div>

<content-header short="true">
  <div class="detail-heading">
    <img ng-if="vm.project.img" class="detail-heading__icon" ng-src="{{vm.project.img}}"
         fallback-image="images/no_image.png"/>
    <span class="content-header__title">{{vm.project.name}}</span>
  </div>
  <div class="detail-heading__aside" ng-show="vm.project.approval == 'approved'">
    <a ui-sref="projects.create({projectId: vm.project.id})"
       class="btn-rounded">
      <i class="fa fa-plus-pencil"></i> Edit Project
    </a>
  </div>
</content-header>

<!-- Problem Alerts -->
<widget modifier="primary">
  <div transclude-to="body">
    <div class="summary">
      <div class="row">
        <div class="col-xs-6">
          <h3>Total Budget: <span class="summary__accent-value">{{::vm.project.budget | currency}}</span><br></h3>

          <h3>Budget Utilization </h3>
          <progressbar animate="false" max="100" value="vm.bUtilization" type="{{vm.bUtilizationType}}">
            <b>{{::vm.bUtilization}}%</b>
          </progressbar>
          <div class="row">
            <div class="col-xs-12">
              <span class="summary__accent-value">{{::vm.project.spent | currency }} </span> funds used <br>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="summary__accent-value">{{ ::vm.bRemaining | currency}}</span> funds remaining <br>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="summary__accent-value">{{ vm.project.monthly_spend | currency }}</span> funds used
              monthly<br>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-6">
              <div class="summary__icon-bin"><a class="summary__accent-icon">{{ vm.bTimeRemaining }}</a> projected
                months of remaining
              </div>
            </div>
            <div class="col-xs-6">
              <div class="summary__icon-bin"><a class="summary__accent-icon">{{ vm.project.order_history.length }}</a>
                total orders
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="summary__icon-bin"><a class="summary__accent-icon">{{ vm.project.services.length }}</a> active
                services
              </div>
            </div>
            <div class="col-sm-6">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</widget>

<!-- Order History -->
<widget modifier="primary" ng-if="vm.project.order_history.length > 0" ng-cloak>
  <div transclude-to="header">Order History ({{vm.project.order_history.length}})</div>
  <div transclude-to="body">
    <order-history-catalog orders="vm.project.order_history"></order-history-catalog>
  </div>
</widget>

<!-- Services -->
<div class="project-services" ng-show="vm.project.approval == 'approved'">
  <widget modifier="primary">
    <div transclude-to="header">Services ({{vm.project.services.length}})</div>
    <div transclude-to="body">
      <service-catalog service="vm.project.services" products="vm.products" viewMode="vm.viewMode"></service-catalog>
    </div>
  </widget>
</div>
<!-- Project Groups-->
<widget modifier="primary">
  <div transclude-to="header">Groups & Membership</div>
  <div transclude-to="body">
    membership
    {{vm.project.memberships}}
    groups
    {{vm.project.groups}}
  </div>
</widget>

<!- Project Details -->
<widget modifier="primary">
  <div transclude-to="header">Details ({{vm.project.project_answers.length}})</div>
  <div transclude-to="body">
    <table st-table="vm.project.project_answers" class="table table-hover">
      <thead>
      <tr>
        <th>Project Question</th>
        <th>Project Question Answer</th>
        <th>Project Question Answer Date</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="answer in vm.project.project_answers">
        <td>{{answer.project_question.question}}
          <span ng-if="answer.project_question.help_text">({{answer.project_question.help_text}})</span>
        </td>
        <td>{{answer.answer}}</td>
        <td>{{answer.created_at | date: 'short'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</widget>


