<div ng-if="vm.project.approval !== 'approved'">

  <div ng-show="vm.project.approval == 'undecided'">
    <widget modifier="danger" class="status-banner__pending">
      <div transclude-to="body">
        <i class="fa fa-asterisk"></i>
        <h3>Project is Pending</h3>
        <i class="fa fa-asterisk"></i>

        <div class="approval-banner__pending-banner__reject">
          <div class='row'>
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary" ng-click="vm.approve(vm.project)">APPROVE</button>
            </div>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="reason"
                     ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                     placeholder="Reason for rejection"/>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-danger" ng-click="vm.reject(vm.project,reason)"
                      ng-disabled="!reason">REJECT
              </button>
            </div>
          </div>
        </div>
      </div>
    </widget>
  </div>

  <div ng-show="vm.project.approval == 'rejected'" class="status-banner__rejected">
    <widget modifier="danger">
      <div transclude-to="body">

        <i class="fa fa-exclamation"></i>

        <h3>Project was rejected</h3>
        <i class="fa fa-exclamation"></i>

        <p><strong>{{vm.project.finalApproval().staff_name}}:</strong>
          {{vm.project.finalApproval().reason}}</p>

      </div>
    </widget>
  </div>
</div>

<content-header short="true">
  <div class="detail-heading">
    <img class="detail-heading__icon" ng-src="{{vm.project.img}}"
         fallback-image="images/no_image.png"/>
    <span class="content-header__title">{{vm.project.name}}</span>
  </div>
  <div class="detail-heading__aside" ng-show="vm.project.approval == 'approved'">
    <a ui-sref="projects.create({projectId: vm.project.id})"
       class="btn-rounded">
      <i class="fa fa-plus-pencil"></i> Edit Project
    </a>
  </div>
</content-header>

<!-- Problem Alerts -->
<widget modifier="primary">
  <div transclude-to="body">


    <!--<div class="info-box-icon">-->
    <!--<progress-arc-->
    <!--size="65"-->
    <!--stroke="{{projectCtrl.getBudgetData(project).usedColor}}"-->
    <!--stroke-width="5"-->
    <!--complete="projectCtrl.getBudgetData(project).usedPercent"-->
    <!--background="#dedede">-->
    <!--</progress-arc>-->
    <!--</div>-->
    <h3>Total Funds</h3>


    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
           style="min-width: 2em;">
        0%
      </div>
    </div>

    {{vm.project.budget | currency}}


    {{vm.project.spent | currency }} funds used
    {{ remaining| currency}} funds remaining

    <!--<div class="info-box-icon">-->
    <!--<progress-arc-->
    <!--size="65"-->
    <!--stroke="{{projectCtrl.getLeftData(project).leftColor}}"-->
    <!--stroke-width="5"-->
    <!--complete="projectCtrl.getLeftData(project).leftPercent"-->
    <!--background="#dedede">-->
    <!--</progress-arc>-->
    <!--</div>-->

    Monthly Charge: {{projectCtrl.getLeftData(project).monthlySpend | currency}}

    {{projectCtrl.getLeftData(project).leftMonths}} Month(s) of Funding Remaining
  </div>
</widget>

<!-- Order History -->
<widget modifier="primary" ng-if="vm.project.order_history.length > 0" ng-cloak>
  <div transclude-to="header">Order History ({{vm.project.order_history.length}})</div>
  <div transclude-to="body">
    <order-history-catalog orders="vm.project.order_history"></order-history-catalog>
  </div>
</widget>


<!-- Services -->


<div class="project-services" ng-show="vm.project.approval == 'approved'">
  <widget modifier="primary">
    <div transclude-to="header">Services ({{vm.project.services.length}})</div>
    <div transclude-to="body">

      <product-box class="product-box" ng-repeat="service in vm.project.services"
                   product="projectCtrl.getServiceWithProduct(service)">
        <a type="button" class="btn btn-primary"
           ui-sref="base.authed.service({order_id: service.order_id, id: service.id})">View
          More</a>
        <a type="button" class="btn btn-danger"
           ng-click="projectCtrl.removeServiceFromProject(project, service)">Remove</a>
      </product-box>
      <div class="add-box">
        <div class="product-box-shadow">
          <a ui-sref="base.authed.project.addService({projectId: project.id})">
            <div class="fa-stack">
              <i class="fa fa-fw fa-stack-2x fa-circle-thin"></i>
              <i class="fa fa-fw fa-stack-1x fa-plus"></i>
            </div>
            <div class="title">Add Service</div>
          </a>
        </div>
      </div>
      <div class="add-box">
        <div class="product-box-shadow">
          <a ui-sref="wizard({projectId: vm.project.id})">
            <div class="fa-stack">
              <i class="fa fa-fw fa-stack-2x fa-circle-thin"></i>
              <i class="fa fa-fw fa-stack-1x fa-plus"></i>
            </div>
            <div class="title">Run Wizard</div>
          </a>
        </div>
      </div>
    </section-header>
    </div>
  </widget>
</div>
<!-- Project Groups-->
<widget modifier="primary">
  <div transclude-to="header">Groups & Membership</div>
  <div transclude-to="body">
    membership
    {{vm.project.memberships}}
    groups
    {{vm.project.groups}}
  </div>
</widget>


<!- Project Details -->
<widget modifier="primary">
  <div transclude-to="header">Details ({{vm.project.project_answers.length}})</div>
  <div transclude-to="body">
    <table st-table="vm.project.project_answers" class="table table-hover">
      <thead>
      <tr>
        <th>Project Question</th>
        <th>Project Question Answer</th>
        <th>Project Question Answer Date</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="answer in vm.project.project_answers">
        <td>{{answer.project_question.question}}
          <span ng-if="answer.project_question.help_text">({{answer.project_question.help_text}})</span>
        </td>
        <td>{{answer.answer}}</td>
        <td>{{answer.created_at | date: 'short'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</widget>


</div>

