<input-wrap for="first_name" label="First Name" errorPresent="adminUserFormCtrl.hasError('first_name')">
  <input id="first_name" name="first_name" type="text" ng-model="adminUserFormCtrl.user.first_name" ng-change="adminUserFormCtrl.clearSubmitError('first_name')" class="form-control" required/>
  <div class="help-block">
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('first_name', 'required')">First Name is Required.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('first_name', 'submitError')">{{adminUserFormCtrl.getSubmitErrorValue('first_name')}}</div>
  </div>
</input-wrap>

<input-wrap for="last_name" label="Last Name" errorPresent="adminUserFormCtrl.hasError('last_name')">
  <input id="last_name" name="last_name" type="text" ng-model="adminUserFormCtrl.user.last_name" ng-change="adminUserFormCtrl.clearSubmitError('last_name')" class="form-control" required/>
  <div class="help-block">
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('last_name', 'required')">Last Name is Required.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('last_name', 'submitError')">{{adminUserFormCtrl.getSubmitErrorValue('last_name')}}</div>
  </div>
</input-wrap>

<input-wrap for="email" label="Email" errorPresent="adminUserFormCtrl.hasError('email')">
  <input id="email" name="email" type="email" ng-model="adminUserFormCtrl.user.email" ng-change="adminUserFormCtrl.clearSubmitError('email')" class="form-control" required/>

  <div class="help-block">
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('email', 'required')">Email Address is Required.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('email', 'email')">Email Address is Not Valid.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('email', 'submitError')">{{adminUserFormCtrl.getSubmitErrorValue('email')}}</div>
  </div>
</input-wrap>

<input-wrap for="password" label="Password" errorPresent="adminUserFormCtrl.hasError('password')">
  <input id="password" name="password" type="password" ng-minlength=8 ng-model="adminUserFormCtrl.user.password" ng-change="adminUserFormCtrl.clearSubmitError('password')" class="form-control" ng-required="!adminUserFormCtrl.user.id" />

  <div class="help-block">
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('password', 'required')">Password is Required.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('password', 'minlength')">Password must be at least 8 Characters.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('password', 'submitError')">{{adminUserFormCtrl.getSubmitErrorValue('password')}}</div>
  </div>
</input-wrap>

<input-wrap for="password_confirmation" label="Confirm Password" errorPresent="adminUserFormCtrl.hasError('password_confirmation')">
  <input id="password_confirmation" name="password_confirmation" type="password" ng-model="adminUserFormCtrl.user.password_confirmation" ng-change="adminUserFormCtrl.clearSubmitError('password_confirmation')" class="form-control" compare-to="adminUserFormCtrl.user.password" ng-required="!adminUserFormCtrl.user.id" />

  <div class="help-block">
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('password_confirmation', 'required')">Confirm Password is Required.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('password_confirmation', 'compareTo')">Passwords Must Match.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('password_confirmation', 'submitError')">{{adminUserFormCtrl.getSubmitErrorValue('password_confirmation')}}</div>
  </div>
</input-wrap>

<input-wrap for="role" label="Role" errorPresent="adminUserFormCtrl.hasError('role')" >
  <ui-select id="role" name="role" ng-model="adminUserFormCtrl.user.role" ng-change="adminUserFormCtrl.clearSubmitError('role')" theme="selectize" required />
  <ui-select-match>{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="role.value as role in adminUserFormCtrl.roles">
      <span ng-bind-html-unsafe="role.name">{{role.name}}</span>
    </ui-select-choices>
  </ui-select>

  <div class="help-block">
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('role', 'required')">Role is Required</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('role', 'submitError')">{{adminUserFormCtrl.getSubmitErrorValue('role')}}</div>
  </div>
</input-wrap>
