<broker-input name="first_name" label="First Name" model="adminUserFormCtrl.user" required="true" errorPresent="adminUserFormCtrl.hasError('first_name')" >
  <div class="help-block">
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('first_name', 'required')">First Name is Required.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('first_name', 'submitError')">{{adminUserFormCtrl.getSubmitErrorValue('first_name')}}</div>
  </div>
</broker-input>

<broker-input name="last_name" label="Last Name" model="adminUserFormCtrl.user" required="true" errorPresent="adminUserFormCtrl.hasError('last_name')" >
  <div class="help-block">
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('last_name', 'required')">Last Name is Required.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('last_name', 'submitError')">{{adminUserFormCtrl.getSubmitErrorValue('last_name')}}</div>
  </div>
</broker-input>

<broker-input name="email" label="Email" model="adminUserFormCtrl.user" required="true" errorPresent="adminUserFormCtrl.hasError('email')" type="email">
  <div class="help-block">
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('email', 'required')">Email Address is Required.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('email', 'email')">Email Address is Not Valid.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('email', 'submitError')">{{adminUserFormCtrl.getSubmitErrorValue('email')}}</div>
  </div>
</broker-input>

<broker-input name="password" label="Password" model="adminUserFormCtrl.user" required="true" errorPresent="adminUserFormCtrl.hasError('password')" type="password">
  <div class="help-block">
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('password', 'required')">Password is Required.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('password', 'minlength')">Password must be at least 8 Characters.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('password', 'submitError')">{{adminUserFormCtrl.getSubmitErrorValue('password')}}</div>
  </div>
</broker-input>

<broker-input name="password_confirmation" label="Confirm Password" model="adminUserFormCtrl.user" required="true" errorPresent="adminUserFormCtrl.hasError('password_confirmation')" type="password">
  <div class="help-block">
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('password_confirmation', 'required')">Confirm Password is Required.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('password_confirmation', 'compareTo')">Passwords Must Match.</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('password_confirmation', 'submitError')">{{adminUserFormCtrl.getSubmitErrorValue('password_confirmation')}}</div>
  </div>
</broker-input>

<input-wrap for="role" label="Role" errorPresent="adminUserFormCtrl.hasError('role')" >
  <ui-select id="role" name="role" ng-model="adminUserFormCtrl.user.role" ng-change="adminUserFormCtrl.clearSubmitError('role')" theme="selectize" required />
  <ui-select-match>{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="role.value as role in adminUserFormCtrl.roles">
      <span ng-bind-html-unsafe="role.name">{{role.name}}</span>
    </ui-select-choices>
  </ui-select>

  <div class="help-block">
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('role', 'required')">Role is Required</div>
    <div class="help-text" ng-show="adminUserFormCtrl.hasError('role', 'submitError')">{{adminUserFormCtrl.getSubmitErrorValue('role')}}</div>
  </div>
</input-wrap>
