<div class="row">
    <div class="col-sm-6">
        <a ui-sref="base.authed.admin.users.list" class="btn btn-info btn-nav">
            <i class="fa fa-caret-left"></i>
            Back to Admin Users
        </a>
    </div>
</div>

<div class="users-list-page main-content">
    <div class="content box-content">
        <section-header name="Add User">
            <form name="adminUserFormCtrl.form" class="form-horizontal user-form" role="form"
                  ng-controller="AdminUserFormController as adminUserFormCtrl"
                  ng-init="adminUserFormCtrl.initForm(adminAddUserCtrl)"
                  ng-submit="adminUserFormCtrl.create()"
                  novalidate>

                <div ng-include src="'/templates/partials/admin/users/_form.html'"></div>
                <div class="col-sm-6 btn-line">
                    <button type="submit" class="btn btn-primary" ng-disabled="!adminUserFormCtrl.canSubmit()">ADD NEW
                        USER
                    </button>
                    <a ui-sref="base.authed.admin.users.list" class="btn btn-link">CANCEL</a>
                </div>
            </form>
        </section-header>
    </div>
</div>
