<div class="log-table">
  <div class="log-table__header">
    <span class="log-table__title" ng-bind-html="::vm.heading"></span>
    <a href="#" title="Collapse">
      <img class="log-table__collapse-icon" src="images/ic_viewcategory_dropdown.png"
           ng-click="vm.collapsed = !vm.collapsed">
    </a>
  </div>
  <div class="log-table__body" collapse="vm.collapsed">
    <table st-table="vm.records" class="tables">
      <thead>
      <tr>
        <th class="tables__heading">Time</th>
        <th class="tables__heading">Level</th>
        <th class="tables__heading">Message</th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="log in vm.records | orderBy : 'created_at'">
        <td class="tables__cell log-table__time">{{ ::log.created_at | date : 'medium' }}</td>
        <td class="tables__cell log-table__level">{{ ::log.log_level }}</td>
        <td class="tables__cell">{{ ::log.message }}</td>
      </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="::vm.itemsPerPage" st-display-pages="50"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
