<div class="order-page">

    <div class="row">
        <div class="col-sm-6" ng-switch="previousState">
            <a ng-switch-when="base.authed.project.view" ui-sref="base.authed.project.view(previousStateParams)"
               class="btn btn-info btn-nav">
                <i class="fa fa-caret-left"></i>
                Back to Project
            </a>
            <a ng-switch-default ui-sref="base.authed.users.orders" class="btn btn-info btn-nav">
                <i class="fa fa-caret-left"></i>
                Back to User Orders
            </a>
        </div>
    </div>

    <section-header name="Order Detail">
        <div class="table-box data-box">
            <table class="table-condensed">
                <tbody>
                <tr>
                    <td class="list-box blue-texts font15">Order ID</td>
                    <td class="item-texts">{{ordersCtrl.order.id}}</td>
                </tr>
                <tr>
                    <td class="list-box blue-texts font15">Ordered By</td>
                    <td class="item-texts">{{ordersCtrl.order.staff.fullName()}}</td>
                </tr>
                <tr>
                    <td class="list-box blue-texts font15">Total</td>
                    <td class="item-texts">{{ordersCtrl.order.total | currency}}</td>
                </tr>
                <tr>
                    <td class="list-box blue-texts font15">Order Date</td>
                    <td class="item-texts">{{ordersCtrl.order.created_at | date:'medium'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section-header>

    <hr>
    <!--<section-header name=" Items">-->

    <div class="table-box data-box">
        <table st-table="ordersCtrl.order.order_items" class="table table-striped table-hover">
            <thead>
            <th colspan="1"><input st-search="" class="form-control" placeholder="Filter by Product, Project or Status"
                                   type="text"/></th>
            <tr class="selectRow">
                <th st-sort="id">Order Item ID</th>
                <th st-sort="product.name">Products</th>
                <th st-sort="project.name">Project</th>
                <th st-sort="provision_status">Status</th>
            </tr>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in ordersCtrl.order.order_items">
                <td class="blue-texts font15"><a class="blue-link"
                                                 ui-sref="base.authed.marketplace.show({id: item.product_id})">{{item.id}}</a>
                </td>
                <td class="item-texts"><a class="blue-link"
                                          ui-sref="base.authed.marketplace.show({id: item.product_id})">{{item.product.name}}</a>
                </td>
                <td class="item-texts"><a class="blue-link"
                                          ui-sref="base.authed.project.view({projectId: item.project_id})">{{item.project.name}}</a>
                </td>
                <td class="item-texts">{{item.provision_status | uppercase}}</td>
                <!--<td class="item-texts" ui-sref="base.authed.service({order_id: ordersCtrl.order.id, id: item.id})">-->
                <!--Service-->
                <!--</td>-->
            </tr>
            </tbody>
        </table>

    </div>

    <!--</section-header>-->
</div>
