.status-col
  text-align: center

.tooltip-inner
  color: $tooltip-color
  background-color: $tooltip-bg
.tooltip
  &.top .tooltip-arrow
    border-top-color: $tooltip-arrow-color
  &.top-left .tooltip-arrow
    border-top-color: $tooltip-arrow-color
  &.top-right .tooltip-arrow
    border-top-color: $tooltip-arrow-color
  &.right .tooltip-arrow
    border-right-color: $tooltip-arrow-color
  &.left .tooltip-arrow
    border-left-color: $tooltip-arrow-color
  &.bottom .tooltip-arrow
    border-bottom-color: $tooltip-arrow-color
  &.bottom-left .tooltip-arrow
    border-bottom-color: $tooltip-arrow-color
  &.bottom-right .tooltip-arrow
    border-bottom-color: $tooltip-arrow-color

.icon-wrapper
  margin-right: 7px
  display: inline-block

.icon-wrapper-lr
  @extend .icon-wrapper
  margin-left: 7px

.form-horizontal
  .btn-line
    margin: 20px -15px

.form-group
  .search-input
    margin-bottom: 60px

  .checkbox-margin
    margin-left: 15px
    margin-top: 10px