<region heading="Memberships">
  <div class="region__buttons">
    <button type="button" class="btn-rounded btn-rounded--short" ng-if="::null === vm.projectArchived" ng-click="vm.showModal()">
      Add Membership
    </button>
  </div>
  <table ng-if="0 < vm.memberships.length" class="tables">
    <thead>
    <tr>
      <th class="tables__heading">Group</th>
      <th class="tables__heading">Role</th>
      <th class="tables__heading tables__heading--centered">Members</th>
      <th class="tables__heading tables__heading--actions" ng-if="::null === vm.projectArchived">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in vm.memberships track by row.id">
      <td class="tables__cell">{{ row.group.name }}</td>
      <td class="tables__cell">{{ row.role.name }}</td>
      <td class="tables__cell tables__cell--centered">{{ row.group.staff_count }}</td>
      <td class="tables__cell tables__cell--actions">
        <a href="#" ng-click="vm.showModal(row)" class="tables__action" title="Edit" ng-if="::null === vm.projectArchived">
          <img src="/images/ic_edit.png" alt="Edit"/>
        </a>
        <a href="#" class="tables__action" ng-if="::null === vm.projectArchived"
           confirmation
           confirmation-position="left-center"
           confirmation-message="Are you sure you want to remove this membership?"
           confirmation-ok-style="danger"
           confirmation-ok-text="Yes, Delete It"
           confirmation-on-ok="vm.remove(row)"
           confirmation-show-cancel="false">
          <img src="/images/ic_deletequestion.png" alt="Delete"/>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div ng-if="0 === vm.memberships.length" class="tables__empty">
    No memberships at this time.
  </div>
</region>
