<div class="project-field" project-form-field>
  <div class="project-field__aside">
    <label class="project-field__label" for="{{ ::form.key.slice(-1)[0] }}">{{ ::form.title }}</label>
  </div>

  <div class="project-field__body" ng-class="{'has-error': hasErrors(form.key.slice(-1)[0])}">
    <select id="{{ ::form.key.slice(-1)[0] }}" class="project-field__input field__input--select"
            name="{{ ::form.key.slice(-1)[0] }}"
            ng-model="$$value$$"
            ng-model-options="::form.ngModelOptions"
            ng-disabled="form.readonly"
            schema-validate="form"
            ng-options="item.value as item.name group by item.group for item in form.titleMap"></select>
    <div class="project-field__feedback" sf-message="form.description"></div>
  </div>
</div>
