<section-header name="Groups">
  <input-wrap label="Search Groups" for="group_search_value">
    <div angucomplete-alt
      id="group_search"
      selected-object="addGroupToProject"
      local-data="unaddedGroups"
      search-fields="name"
      title-field="name"
      clear-selected="true"
      input-class="form-control"
      minlength="0"
    />
  </input-wrap>

  <ul id="groups-list">
    <li ng-attr-id="{{'group-' + group.id}}" class="group" ng-repeat="group in project.groups">
      {{group.name}}
      <ui-select ng-model="group.role" theme="selectize" ng-attr-id="{{'group-' + group.id + '-role'}}" on-select="setGroupRole($item, group)">
        <ui-select-match placeholder="Select a Role">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="role in allRoles | filter: $select.search">
          <strong ng-bind-html="role.name | highlight: $select.search"></strong>
          <span ng-bind-html="role.description | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>

      <a href="#" ng-click="removeGroupFromProject(group)">x</a>
    </li>
  </ul>
</section-header>
