<form class="form-horizontal padded horizontal-spanning" role="form" name="projectForm" novalidate>
  <broker-input label="Name" name="name" placeholder="Project Name" model="project" required="true"></broker-input>
  <broker-input label="Icon" name="img" placeholder="Full address (with http://) to icon image" model="project" required="false"></broker-input>

  <input-wrap errorPresent="projectForm.budget.$invalid && projectForm.budget.$dirty" for="budget" label="Budget">
    <input name="budget" type="text" class="form-control" id="budget" ng-model='project.budget' ng-currency>
  </input-wrap>

  <input-wrap for="start-date" label="Start Date">
    <div class="input-group">
      <span class="input-group-addon" ng-click="openStartDate($event)"><i class="fa fa-calendar"></i></span>
      <input
        class="form-control"
        close-text="Close"
        datepicker-options="dateOptions"
        datepicker-popup="{{format}}"
        id="start-date"
        is-open="startDateOpened"
        min-date="minDate"
        name="start-date"
        ng-click="openStartDate($event)"
        ng-model="project.start_date"
        required
        type="text"
      />
    </div>
  </input-wrap>

  <input-wrap for="end-date" label="End Date">
    <div class="input-group">
      <span class="input-group-addon" ng-click="openEndDate($event)"><i class="fa fa-calendar"></i></span>
      <input
        class="form-control"
        close-text="Close"
        datepicker-options="dateOptions"
        datepicker-popup="{{format}}"
        id="end-date"
        is-open="endDateOpened"
        min-date="minDate"
        name="end-date"
        ng-click="openEndDate($event)"
        ng-model="project.end_date"
        required
        type="text"
      />
    </div>
  </input-wrap>

  <groups-input project="project"></groups-input>

  <section-header name="Project Questions">
  <nf-form name="projectQuestionForm">
    <div ng-repeat="answer in project.project_answers">
      <input-wrap for="{{answer.project_question.id}}" label="{{answer.project_question.question}}">
        <span ng-switch on="answer.project_question.field_type">
          <span ng-switch-when="check_box">
            <input type="checkbox" name="{{answer.project_question_name}}" ng-model='answer.answer'
            id="{{answer.project_question.id}}" ng-true-value="'true'" ng-false-value="'false'">
          </span>
          <span ng-switch-when="date">
            <div class="input-group">
              <span class="input-group-addon" ng-click="openAnswerDate($event, $index)"><i class="fa fa-calendar"></i></span>
              <input name="{{answer.project_question_name}}" ng-click="openAnswerDate($event, $index)"
                ng-model='answer.answer' class="form-control" id="{{answer.project_question.id}}"
                placeholder="{{answer.project_question.help_text}}"
                ng-required="{{answer.project_question.required}}" datepicker-popup="{{format}}"
                is-open="answerDateOpened[$index]" datepicker-options="dateOptions" close-text="Close">
            </div>
          </span>
          <span ng-switch-when="text">
            <input name="{{answer.project_question_name}}" ng-model='answer.answer' class="form-control"
              id="{{answer.project_question.id}}" placeholder="{{answer.project_question.help_text}}"
              ng-required="{{answer.project_question.required}}">
          </span>
          <span ng-switch-when="select_option">
            <select name="{{answer.project_question_name}}" class="form-control" ng-model="answer.answer"
              ng-options="option for option in answer.project_question.options"
              ng-required="{{answer.project_question.required}}"
              >
              <option value="">Please select an option.</option>
            </select>
          </span>
        </span>
        </input-wrap>
      </div>
    </nf-form>
  </section-header>

  <a ng-click="submitFunction()" type="submit"
    ng-class="projectForm.$invalid ? 'btn btn-primary disabled' : 'btn btn-primary'">{{buttonLabel}}</a>
</form>
