<div class="project-detail-page container-fluid">
  <div class="approval-banner row" ng-hide="project.approval == 'approved'">
    <!-- Pending Approval Banner -->
    <div class="col-sm-12" ng-show="project.approval == 'undecided'">
      <i class="project-approval-icon fa fa-asterisk"></i>

      <h3>Project is Pending</h3>

      <div class="pull-left">
        <button type="button" class="btn btn-primary" ng-click="projectCtrl.approve(project)">APPROVE</button>
      </div>
      <div class="col-sm-7">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="reason"
                 ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                 placeholder="Reason for rejection"/>

          <div class="input-group-btn">
            <button type="button" class="btn btn-danger" ng-click="projectCtrl.reject(project,reason)" ng-disabled="!reason">REJECT
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" ng-show="project.approval == 'rejected'">
      <i class="project-approval-icon fa fa-exclamation"></i>

      <h3>Project was rejected</h3>

      <p><strong>{{project.finalApproval().staff_name}}:</strong>
        {{project.finalApproval().reason}}</p>
    </div>
  </div>
  <div class="content box-content">
    <!-- Title & Url -->
    <div class="page-title">
      <div class="page-title-icon">
        <img class="project-icon" ng-src="{{project.img}}"
             fallback-image="images/no_image.png"/>
      </div>
      <div class="page-title-text">
        <h3>{{project.name}}</h3>
      </div>
      <div class="fr">
        <div class="bottom-btn-box" ng-show="project.approval == 'approved'">
          <a ui-sref="base.authed.project.edit({projectId: project.id})" class="btn btn-primary">EDIT PROJECT</a>
        </div>
      </div>
    </div>

    <!-- Metrics - Status, Budget, CPU, HDD, RAM -->
    <div class="info-boxes">
      <div class="info-box col18">
        <div class="info-box-icon">
          <progress-arc
            size="65"
            stroke="{{projectCtrl.getBudgetData(project).usedColor}}"
            stroke-width="5"
            complete="projectCtrl.getBudgetData(project).usedPercent"
            background="#dedede">
          </progress-arc>
        </div>
        <div class="info-box-data">
          <div class="info-box-title">
            Total Project Funds: {{project.budget | currency}}
          </div>
          <div class="info-box-text">
            {{project.spent | currency }} funds used
          </div>
        </div>
      </div>
      <div class="info-box-split"></div>
      <div class="info-box col18">
        <div class="info-box-icon">
          <progress-arc
            size="65"
            stroke="{{projectCtrl.getLeftData(project).leftColor}}"
            stroke-width="5"
            complete="projectCtrl.getLeftData(project).leftPercent"
            background="#dedede">
          </progress-arc>
        </div>

        <div class="info-box-data">
          <div class="info-box-title">
            Monthly Charge: {{projectCtrl.getLeftData(project).monthlySpend | currency}}
          </div>
          <div class="info-box-text">
            {{projectCtrl.getLeftData(project).leftMonths}} Month(s) of Funding Remaining
          </div>
        </div>
      </div>
      <div class="info-box-split"></div>
    </div>

    <!-- Problem Alerts -->

    <section-header name="Project Alerts" ng-show="alerts.length > 0">
      <alerts-table alerts="alerts"></alerts-table>
    </section-header>

    <!-- Order History -->

    <section-header name="Project Orders" ng-show="project.order_history.length > 0">
      <orders-table ng-if="project.isApproved()" orders="project.order_history"></orders-table>
    </section-header>

    <!-- Services -->

    <div class="project-services" ng-show="project.approval == 'approved'">
      <section-header name="{{'Services (' + project.services.length + ')'}}">
        <product-box class="product-box" ng-repeat="service in project.services"
                     product="projectCtrl.getServiceWithProduct(service)">
          <a type="button" class="btn btn-primary" ui-sref="base.authed.service({order_id: service.order_id, id: service.id})">View
            More</a>
          <a type="button" class="btn btn-danger"
             ng-click="projectCtrl.removeServiceFromProject(project, service)">Remove</a>
        </product-box>
        <div class="add-box">
          <div class="product-box-shadow">
            <a ui-sref="base.authed.project.addService({projectId: project.id})">
              <div class="fa-stack">
                <i class="fa fa-fw fa-stack-2x fa-circle-thin"></i>
                <i class="fa fa-fw fa-stack-1x fa-plus"></i>
              </div>
              <div class="title">Add Service</div>
            </a>
          </div>
        </div>
        <div ng-if="wizardPresent" class="add-box">
          <div class="product-box-shadow">
            <a ui-sref="base.authed.wizard({projectId: project.id})">
              <div class="fa-stack">
                <i class="fa fa-fw fa-stack-2x fa-circle-thin"></i>
                <i class="fa fa-fw fa-stack-1x fa-plus"></i>
              </div>
              <div class="title">Use Wizard to find services</div>
            </a>
          </div>
        </div>
      </section-header>
    </div>

    <groups-input groups="groups" project="project"></groups-input>

    <!-- Project Details -->

    <div class="project-details">

      <section-header name="Project Details">

        <div class="table-box">
          <div class="data-box">

            <table st-table="rowCollection" class="table table-responsive table-striped">
              <colgroup>
                <col class="col40">
                <col>
              </colgroup>
              <thead>
              <tr>
                <th class="text-left">Detail</th>
                <th class="text-left">Value</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="answer in project.project_answers">
                <td class="blue-texts font15">{{answer.project_question.question}}</td>
                <td class="item-texts">{{answer.answer}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section-header>
    </div>

  </div>
</div>
