<input-wrap for="{{qiCtrl.fieldId()}}" label={{qiCtrl.question.label}} errorPresent="qiCtrl.hasError()">
  <div ng-switch on="qiCtrl.question.field_type">
    <div ng-switch-when="text" class="form-group" ng-class="{'has-error': qiCtrl.hasError()}">
      <input type="text" class="form-control" placeholder="{{qiCtrl.question.placeholder}}"
        id="{{qiCtrl.fieldId()}}" name="{{qiCtrl.fieldName()}}"
        ng-model="qiCtrl.answer.answer" ng-required="{{qiCtrl.question.required}}"/>
    </div>
    <div ng-switch-when="select">
      <select class="form-control"
        ng-options="option[0] as option[1] for option in qiCtrl.question.options"
        id="{{qiCtrl.fieldId()}}" name="{{qiCtrl.fieldName()}}"
        </div
        ng-model="qiCtrl.answer.answer" ng-required="{{qiCtrl.question.required}}"/>
    </div>
  </div>
  <div class="help-block">
    <div class="help-text" ng-show="qiCtrl.hasError('required')">Required</div>
  </div>
  <div class="help-block">
    <div class="help-text">{{qiCtrl.question.help}}</div>
  </div>
</input-wrap>
