<div class="form-group" ng-class="{'has-error': adminAlertFormCtrl.hasError('message')}">
  <label class="col-sm-3 control-label required" for="message">Message:</label>

  <div class="col-sm-8 control-input">
    <input id="message" name="message" type="text" ng-model="adminAlertFormCtrl.alert.message" ng-change="adminAlertFormCtrl.clearSubmitError('message')" class="form-control" required/>
    <div class="help-block" ng-show="adminAlertFormCtrl.hasError('message', 'required') || adminUserFormCtrl.hasError('message', 'submitError')">
      <div class="help-text" ng-show="adminAlertFormCtrl.hasError('message', 'required')">Message is Required.</div>
      <div class="help-text" ng-show="adminUserFormCtrl.hasError('message', 'submitError')">{{adminAlertFormCtrl.getSubmitErrorValue('message')}}</div>
    </div>

  </div>
  <div class="col-sm-1"></div>
</div>

<div class="form-group" ng-class="{'has-error': adminAlertFormCtrl.hasError('status')}">
  <label class="col-sm-3 control-label required">Status:</label>

  <div class="col-sm-8 control-input">
    <!-- input id="status" name="status" type="text" ng-model="adminAlertFormCtrl.alert.status" ng-change="adminAlertFormCtrl.clearSubmitError('status')" class="form-control" required/ -->
    <ui-select id="status" name="status" ng-model="adminAlertFormCtrl.alert.status" ng-change="adminAlertFormCtrl.clearSubmitError('status')" theme="selectize" required />
    <ui-select-match>
            <span ng-switch on="$select.selected.value">
                <div ng-switch-when="OK" ng-bind-html-unsafe="status.name" class="text-ok" ><div class="icon-wrapper"><span class="fa fa-check-circle"/></div>{{$select.selected.name}}</div>
                <div ng-switch-when="WARNING" ng-bind-html-unsafe="status.name" class="text-warning"><div class="icon-wrapper"><span class="fa fa-exclamation-triangle"/></div>{{$select.selected.name}}</div>
                <div ng-switch-when="CRITICAL" ng-bind-html-unsafe="status.name" class="text-critical"><div class="circle-warning icon-wrapper"><span class="fa fa-bolt circle-contents"/></div>{{$select.selected.name}}</div>
            </span>
    </ui-select-match>
    <ui-select-choices repeat="status.value as status in adminAlertFormCtrl.statuses">
            <span ng-switch on="status.value">
                <div ng-switch-when="OK" ng-bind-html-unsafe="status.name" class="text-ok" ><div class="icon-wrapper"><span class="fa fa-check-circle"/></div>{{status.name}}</div>
                <div ng-switch-when="WARNING" ng-bind-html-unsafe="status.name" class="text-warning"><div class="icon-wrapper"><span class="fa fa-exclamation-triangle"/></div>{{status.name}}</div>
                <div ng-switch-when="CRITICAL" ng-bind-html-unsafe="status.name" class="text-critical"><div class="circle-warning icon-wrapper"><span class="fa fa-bolt circle-contents"/></div>{{status.name}}</div>
            </span>
    </ui-select-choices>
    </ui-select>
    <div class="help-block" ng-show="adminAlertFormCtrl.hasError('status', 'required') || adminUserFormCtrl.hasError('status', 'submitError')">
      <div class="help-text" ng-show="adminAlertFormCtrl.hasError('status', 'required')">Status is Required.</div>
      <div class="help-text" ng-show="adminUserFormCtrl.hasError('status', 'submitError')">{{adminAlertFormCtrl.getSubmitErrorValue('status')}}</div>
    </div>

  </div>
  <div class="col-sm-1"></div>
</div>

<div class="form-group">
  <label for="start-date-time" class="col-sm-3 control-label">Start Date/Time:</label>
  <div class="col-sm-8 control-input">
    <div class="input-group" name="start_date" ng-model="adminAlertFormCtrl.alert.start_date" id="start-date-time"
         datetime-picker datetime-options="{format:'YYYY-MM-DD hh:mm a'}">
      <span class="input-group-addon btn"><i class="fa fa-calendar"></i></span>
      <input class="form-control form-text" type="text">
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>

<div class="form-group">
  <label for="end-date-time" class="col-sm-3 control-label">End Date/Time:</label>
  <div class="col-sm-8 control-input">
    <div class="input-group" name="end_date" ng-model="adminAlertFormCtrl.alert.end_date" id="end-date-time"
         datetime-picker datetime-options="{format:'YYYY-MM-DD hh:mm a'}">
      <span class="input-group-addon btn"><i class="fa fa-calendar"></i></span>
      <input class="form-control form-text" type="text">
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>