<div class="row">
    <div class="col-sm-6">
        <a ui-sref="base.authed.admin.alerts.list" class="btn btn-info btn-nav">
            <i class="fa fa-caret-left"></i>
            Back to Admin Alerts
        </a>
    </div>
</div>

<div class="alerts-list-page">
    <div class="content box-content">

        <section-header name="Add Alert">
            <form name="adminAlertFormCtrl.form" class="form-horizontal alert-form" role="form"
                  ng-controller="AdminAlertFormController as adminAlertFormCtrl"
                  ng-init="adminAlertFormCtrl.initForm(adminAddAlertCtrl)"
                  ng-submit="adminAlertFormCtrl.create()"
                  novalidate>

                <div ng-include src="'/templates/partials/admin/alerts/_form.html'"></div>

                <div class="col-sm-6 btn-line">
                    <button type="submit" class="btn btn-primary" ng-disabled="!adminAlertFormCtrl.canSubmit()">ADD
                        NEW ALERT
                    </button>
                    <a ui-sref="base.authed.admin.alerts.list" class="btn btn-link">CANCEL</a>
                </div>
            </form>
        </section-header>
    </div>
</div>