+block(forms)
  @extend .form-horizontal

  +element(title)

    +modifier(description)
      text-transform: uppercase
      color: $app-color-gray

    +modifier(error)
      padding-left: 15px
      font-weight: bold
      font-size: 15px
      color: $app-color-pink
      text-transform: uppercase

  +element(body)
    +make-sm-column(7)
    padding-bottom: 20px

    &:after
      content: ""
      border-bottom: 1px solid $app-color-gray
      position: absolute
      left: 15px
      right: 0

  +element(aside)
    +make-sm-column(5)
    padding-left: 45px
    padding-bottom: 10px

  +element(buttons)
    +make-sm-column(7)

  +element(submit)
    @extend .btn-rounded
    min-width: 150px

  +element(cancel)
    @extend .btn
    @extend .btn-link
    text-transform: uppercase

+block(field)
  @extend .form-group
  position: relative

  +element(aside)
    +make-sm-column(3)
    @extend .text-right
    text-transform: uppercase
    height: 42px

  +element(label)
    font-size: 12px
    color: $app-color-gray
    padding-left: 15px
    position: absolute
    top: 50%
    right: 5px
    transform: translateY(-50%)

  +element(body)
    +make-sm-column(9)
    min-height: 1px

    +modifier(loading)
      min-height: 42px

    +modifier(checkbox)
      margin-top: 10px
      float: left
      padding-left: 15px

  +element(input)
    @extend .form-control
    border-radius: 5px
    border: 1px solid $app-color-gray
    color: $app-color-dark-gray
    min-height: 42px

    +modifier(textarea)
      resize: vertical

    +modifier(select)
      -webkit-appearance: none

    +modifier(monospaced)
      font-family: "Anonymous Pro", "Inconsolata", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace

  +element(group-input)

    +modifier(input)
      @extend .form-control
      border-radius: 0 5px 5px 0
      min-height: 42px
      border: 1px solid $app-color-gray
      color: $app-color-dark-gray
      width: 100%

    +modifier(button)
      border-radius: 5px 0 0 5px
      min-height: 42px
      border: 1px solid $app-color-gray
      color: $app-color-dark-gray

  +element(checkbox)
    padding-top: 5px
    user-select: none

    input[type=checkbox]
      display: none

    input[type=checkbox] + label
      font-weight: normal
      padding-left: 10px
      position: relative
      cursor: pointer

    input[type=checkbox] + label:before
      content: ""
      display: inline-block
      height: 20px
      width: 20px
      border: 1px solid $app-color-gray
      background-color: $app-color-white
      border-radius: 4px
      position: relative
      top: 5px
      left: -10px

    input[type=checkbox]:checked + label:before
      background-color: $app-color-green

  +element(radio)
    padding-top: 5px

    input[type=radio]
      display: none

    input[type=radio] + label
      font-weight: normal
      padding-left: 15px
      padding-right: 20px
      position: relative
      cursor: pointer

    input[type=radio] + label:before
      content: ""
      display: inline-block
      height: 20px
      width: 20px
      border: 1px solid $app-color-gray
      background-color: $app-color-white
      border-radius: 50%
      position: relative
      top: 5px
      left: -2px

    input[type=radio]:checked + label:before
      background-color: $app-color-green

  +element(feedback)
    @extend .help-block
    display: none
    margin: 0

    .show-errors &
      display: block

    & > *
      margin-top: 5px
