<div ng-if="::vm.service.length == 0">
  <h4>Presently no services are associated with this project.</h4>
</div>
<div ng-if="::vm.service.length > 0" class="service-catalog" ng-cloak>
  <div class="service-catalog__switch ">
    <view-mode-switch view-mode="vm.viewMode"></view-mode-switch>
  </div>
  <div ng-switch="vm.viewMode" class="service-catalog__body" collapse="vm.collapsed">
    <table ng-switch-when="list" st-table="vm.service" class="service-catalog__table table-hover">
      <thead>
      <th colspan="2">
        <input st-search="" class="form-control users-table__filter-input" placeholder="Filter by name, status, created" type="text"/>
      </th>
      <tr>
        <th class="service-catalog__heading service-catalog__heading--padding"></th>
        <th st-sort="id"
            class="service-catalog__heading service-catalog__heading--description service-catalog__heading--sortable"
            st-sort-default="true">
          Service ID
        </th>
        <th st-sort="name"
            class="service-catalog__heading service-catalog__heading--description service-catalog__heading--sortable">
          Product Name
        </th>
        <th st-sort="provision_status"
            class="service-catalog__heading service-catalog__heading--description service-catalog__heading--sortable">
          Provision Status
        </th>
        <th st-sort="created_at"
            class="service-catalog__heading service-catalog__heading--description service-catalog__heading--sortable">
          Created
        </th>
        <th class="service-catalog__heading service-catalog__heading--description">
          Action
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in vm.service">
        <td class="service-catalog__cell service-catalog__cell--padding"></td>
        <td class="service-catalog__cell" ng-click="vm.goTo(row.id)">
          <span>{{ ::row.id }}</span>
        </td>
        <td class="service-catalog__cell service-catalog__cell--description" ng-click="vm.goTo(row.id)">
          <div ng-if="!row.img" class="service-catalog__image"
               ng-class="'service-catalog__image--light-blue'">
          </div>
          <div ng-if="row.img">
            <img class="service-catalog__image" ng-src="images/assets/{{row.img}}" alt="Project Image"/>
          </div>
          <span>{{ ::row.name }}</span>
          <span ng-if="row.description" class="service-catalog__product-description">&mdash; {{ ::row.description }}</span>
        </td>
        <td class="service-catalog__cell" ng-click="vm.goTo(row.id)">
          <span>{{ ::row.provision_status }}</span>
        </td>
        <td class="service-catalog__cell" ng-click="vm.goTo(row.id)">
          <span>{{ ::row.created_at | date:'short' }}</span>
        </td>
        <td class="service-catalog__cell service-catalog__cell--actions">
          <a ng-click="vm.goTo(row.id, row.order_id)" class="service-catalog__action">
            <img src="/images/ic_edit.png" alt="Edit"/>
          </a>
          <a href="#" class="users-table__action users-table__action--delete"
             confirmation
             confirmation-position="left-center"
             confirmation-message="Are you sure you want to remove this service?"
             confirmation-ok-style="danger"
             confirmation-ok-text="Yes, Delete It"
             confirmation-on-ok="vm.deleteService(row.id, row.project_id )"
             confirmation-show-cancel="false">
            <img src="/images/ic_deletequestion.png" alt="Delete"/>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div ng-switch-when="grid" class="service-catalog__grid">
      <div class="service-catalog__box" ng-repeat="row in vm.service" >
        <div class="service-catalog__card "  ng-class="'service-catalog__card--'  + row.provision_status"  ng-click="vm.goTo(row.id)">
          <div ng-if="!row.img" class="service-catalog__image service-catalog__image--large"
               ng-class="'service-catalog__image--light-blue'">
          </div>
          <div ng-if="row.img" >
            <img class="service-catalog__image--large" ng-src="images/assets/{{row.img}}" alt="Project Image"/>
          </div>
            <div class="service-catalog__card-name">{{ ::row.name }}</div>
            <div class="service-catalog__card-description">{{ ::row.description }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
