<div ng-repeat="charts in chartCollection | groupBy:2">
    <div class='col-sm-6' ng-repeat="chart in charts">
        <div ng-drag="true" ng-drop="true" ng-drop-success="onDropComplete($index, $data, $event)" ng-drag-data="chart">
            <nvd3 ng-if='chart.options.chart.type !== "bulletChart"' options='chart.options' data='chart.data'></nvd3>
            <div ng-if='chart.options.chart.type == "bulletChart"'>
                <div class="title h4" style="text-align: center;">Budget Posture by Project</div>
                <nvd3 ng-repeat="budgetChartData in budgetCharts" options='chart.options' data='budgetChartData'></nvd3>
            </div>
        </div>
    </div>
</div>
