<section-header name="Wizard Questions">
<form class="form-horizontal padded horizontal-spanning">
  <fieldset ng-repeat="question in vm.questions">
    <input-wrap for="question_{{question.id}}" label="Question">
      <input ng-model="question.text" class="form-control" id="question_{{question.id}}" />
      <div class="col-sm-1" ng-click="vm.deleteQuestion(question)">X</div>
    </input-wrap>

    <br />

    <fieldset ng-repeat="answer in question.wizard_answers" >
      <input-wrap for="question_{{question.id}}_answer_{{$index}}" label="Answer" >
        <div ng-hide="answer['_destroy']">
          <input ng-model="answer.text" class="form-control" id="question_{{question.id}}_answer_{{$index}}" />
          <div class="col-sm-1" ng-click="vm.deleteAnswer(question, answer)">X</div>
        </div>
      </input-wrap>
      <input-wrap for="question_{{question.id}}_answer_{{$index}}_tags_to_add" label="Tags to Add">
        <input ng-model="answer.tags_to_add" class="form-control" id="question_{{question.id}}_answer_{{$index}}_tags_to_add" />
      </input-wrap>
      <input-wrap for="question_{{question.id}}_answer_{{$index}}_tags_to_remove" label="Tags to Remove">
        <input ng-model="answer.tags_to_remove" class="form-control" id="question_{{question.id}}_answer_{{$index}}_tags_to_remove" />
      </input-wrap>
      <hr />
    </fieldset>
    <br />
    <a class="btn btn-info" ng-click="vm.addAnswer(question)">Add Another Answer</a>
    <a class="btn btn-primary" ng-click="vm.saveQuestion(question)">Save Question</a>
    <hr>
  </fieldset>
  <br>
  <fieldset>
    <input-wrap for="question" label="Question">
      <input ng-model="vm.question.text" class="form-control" id="question" />
    </input-wrap>

    <br />

    <fieldset ng-repeat="answer in vm.question.wizard_answers" >
      <input-wrap for="new_question_answer_{{$index}}" label="Answer" >
        <div ng-hide="answer['_destroy']">
          <input ng-model="answer.text" class="form-control" id="new_question_answer_{{$index}}" />
          <div class="col-sm-1" ng-click="vm.deleteAnswer(vm.question, answer)">X</div>
        </div>
      </input-wrap>
      <input-wrap for="new_question_tags_to_add_{{$index}}" label="Tags to Add">
        <input ng-model="answer.tags_to_add" class="form-control" id="new_question_tags_to_add_{{$index}}" />
      </input-wrap>
      <input-wrap for="new_question_tags_to_remove_{{$index}}" label="Tags to Remove">
        <input ng-model="answer.tags_to_remove" class="form-control" id="new_question_tags_to_remove_{{$index}}" />
      </input-wrap>
      <hr />
    </fieldset>
  <div class="row">
    <div class="col-sm-11">
      <a class="btn btn-primary pull-right" ng-click="vm.createQuestion()">Save Question and Add Another</a>
    </div>
  </div>
</form>
</section-header>
