<form class="form-horizontal padded horizontal-spanning">
  <div ng-repeat="question in vm.questions">
    <hr>
    <div class="row">
      <label class="col-sm-1 control-label" label_for="question_{{$index}}">Question</label>
      <div  class="col-sm-10 control-input">
        <input ng-model="question.text" class="form-control" id="question_{{$index}}" />
      </div>
      <div class="col-sm-1" ng-click="vm.deleteQuestion(question)">X</div>
    </div>
    <div ng-repeat="answer in question.wizard_answers">
      <div ng-hide="answer['_destroy']">
        <hr>
        <div class="row">
          <label class="col-sm-1 control-label" for="answer_{{$index}}">Answer</label>
          <div  class="col-sm-10 control-input">
            <input ng-model="answer.text" class="form-control" id="answer_{{$index}}" />
          </div>
          <div class="col-sm-1" ng-click="vm.deleteAnswer(question, answer)">X</div>
        </div>
        <div class="row">
          <label class="col-sm-1 control-label" for="tags_to_add_{{$index}}">Tags to Add</label>
          <div  class="col-sm-10 control-input">
            <input ng-model="answer.tags_to_add" class="form-control" id="tags_to_add_{{$index}}" />
          </div>
        </div>
        <div class="row">
          <label class="col-sm-1 control-label" for="tags_to_remove_{{$index}}">Tags to Remove</label>
          <div  class="col-sm-10 control-input">
            <input ng-model="answer.tags_to_remove" class="form-control" id="tags_to_remove_{{$index}}" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-11">
        <a class="btn btn-info pull-right" ng-click="vm.addAnswer(question)">Add Another Answer</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-11">
        <a class="btn btn-primary pull-right" ng-click="vm.saveQuestion(question)">Save Question</a>
      </div>
    </div>
    <hr>
  </div>
  <br>
  <div class="row">
    <label class="col-sm-1 control-label" for="question">Question</label>
    <div  class="col-sm-10 control-input">
      <input ng-model="vm.question.text" class="form-control" id="question" />
    </div>
  </div>
  <div ng-repeat="answer in vm.question.wizard_answers">
    <hr>
    <div class="row">
      <label class="col-sm-1 control-label" for="answer">Answer</label>
      <div  class="col-sm-10 control-input">
        <input ng-model="answer.text" class="form-control" id="answer" />
      </div>
      <div class="col-sm-1" ng-click="vm.deleteAnswer(vm.question, answer)">X</div>
    </div>
    <div class="row">
      <label class="col-sm-1 control-label" for="tags_to_add">Tags to Add</label>
      <div  class="col-sm-10 control-input">
        <input ng-model="answer.tags_to_add" class="form-control" id="tags_to_add" />
      </div>
    </div>
    <div class="row">
      <label class="col-sm-1 control-label" for="tags_to_remove">Tags to Remove</label>
      <div  class="col-sm-10 control-input">
        <input ng-model="answer.tags_to_remove" class="form-control" id="tags_to_remove" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11">
      <a class="btn btn-info pull-right" ng-click="vm.addAnswer(vm.question)">Add Another Answer</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11">
      <a class="btn btn-primary pull-right" ng-click="vm.createQuestion()">Save Question and Add Another</a>
    </div>
  </div>
</form>
