<div ng-if="::'approved' !== vm.project.approval" class="project-approval">
  <div ng-if="::'undecided' === vm.project.approval">
    <div class="project-approval__heading">
           Project Pending, Requires
      <span class="project-approval__heading--approval">Approval</span>
      or
      <span class="project-approval__heading--rejection">Rejection</span>
    </div>
    <div class="project-approval__body">
          <button type="button"
                  class="btn-rounded project-approval__approve project-approval__button"
                  ng-click="vm.approve()">
            Approve
          </button>
          <input type="text" class="field__input project-approval__input" ng-model="vm.message"
                 ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                 placeholder="Reason for rejection"/>
          <button ng-disabled="vm.message == ''"
                  type="button"
                  class="btn-rounded btn-rounded--danger project-approval__reject project-approval__button"
                  ng-click="vm.reject()">
            Reject
          </button>
    </div>
  </div>

  <div ng-if="::'rejected' === vm.project.approval">
    <div class="project-approval__heading">
      Project was rejected
    </div>
    <div class="project-approval__body">
      <strong>{{ ::vm.project.finalApproval().staff_name }}:</strong>
      {{ ::vm.project.finalApproval().reason }}
    </div>
  </div>
</div>
