<div class="multiple-options" ui-sortable="to.sortableOptions" ng-model="model[options.key]">

  <div ng-repeat="item in model[options.key] track by $index"
       ng-init="itemOptions = copyItemOptions($index)"
       class="multiple-option">
    <div class="row">
      <div class="multiple-option__aside">
        <label class="field__label">{{ 'Option '+ ($index+1) }}</label>
      </div>
      <div class="multiple-option__body" ng-class="{'has-error': showError}">
        <formly-field options="itemOptions" model="model[options.key]" form="form" index="$index"></formly-field>
        <div class="field__feedback" ng-messages="fc.$error" ng-if="showError">
          <div ng-message="required">Option text is required.</div>
        </div>
      </div>
      <div class="multiple-option__actions">
        <img class="multiple-option__action multiple-option__action--handle" src="/images/ic_sort.png" alt="Sort"/>
        <a ng-if="2 < model[options.key].length" href="#" class="multiple-option__action"
           confirmation
           confirmation-position="left-center"
           confirmation-message="Are you sure you want to delete this option and it's content?"
           confirmation-ok-style="danger"
           confirmation-ok-text="Yes, Delete It"
           confirmation-on-ok="model[options.key].splice($index, 1)"
           confirmation-show-cancel="false">
          <img src="/images/ic_deletequestion.png" alt="Delete"/>
        </a>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="multiple-options__footer">
    <button type="button" class="btn-bordered btn-bordered--short btn-bordered--capitalize pull-right"
            ng-click="model[options.key].push('')">
      Add Option
    </button>
  </div>
</div>
